FROM {{ authelia_caddy_builder_image }} AS builder
RUN xcaddy build \
{% for plugin in authelia_caddy_plugins %}
    --with {{ plugin }} \
{% endfor %}
    --output /caddy

FROM {{ authelia_caddy_runtime_image }}
COPY --from=builder /caddy /usr/bin/caddy
